<div class="header">
    <div class="header--full-width-gray">
        <div class="container">
            <div class="header__item-upper-nav-content">
                <div class="header-upp">
                    <div class="header__left-block">
                        <div class="header__logo-company">
                            <img src="/assets/img/logo-company.svg" alt="логотип компании">
                        </div>
                        <nav class="header__nav-upp">
                            <div class="header__nav-item" *ngFor="let item of aboutComponent">{{item}}</div>
                        </nav>
                    </div>
                    <div class="header__right-block">
                        <div class="header-upp__number header--margin">
                            <img class="header--margin" src="/assets/img/Phone.svg" alt="логотип телефона">
                            <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
                        </div>
                        <div class="logo-live header--margin">
                            <img src="/assets/img/logo-live.svg" alt="логотип logo-live">
                        </div>
                        <div class="header-upp__basket">
                            <button class="basket-button" type="submit">
                                <img class="basket-logo" src="/assets/img/Mask-group.svg" alt="">
                                <span class="basket-button-title">Пусто</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header--full-width-yellow">
        <div class="container">
            <div class="header__item-lower-nav-content">
                <div class="header-low">
                    <div class="header__left-block">
                        <img class="header__logo-catlog" src="/assets/img/catalog-logo.svg" alt="">
                        <nav class="header__nav-low">
                            <div class="header__nav-item" *ngFor="let item of menuItems">{{item}}
                            </div>
                        </nav>
                    </div>
                    <div class="header__right-block">
                        <div class="header__search">
                            <input type="search" placeholder="Поиск, например Круг зачисткой" autocomplete="off" class="header__search-input">
                            <img src="/assets/img/Search.svg" alt="поиск" class="search-icon">
                        </div>
                        <img class="map-logo" src="/assets/img/map.svg" alt="map logo">
                        <div class="header-low__map">Москва</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navigation-section">
  <div class="navigation-strip-top"></div>
  <div class="navigation-content">
    <span class="navigation-title">Навигация по сайту</span>
    <div class="header__button-group">
      <button class="dark-button" routerLink="/users">Пользователи</button>
      <button class="dark-button" routerLink="/todos">Задачи</button>
      <button class="dark-button" routerLink="/admin">Админка</button>
      <button class="dark-button" (click)="toogleCatalog()">Показать/Скрыть каталог</button>
      <button class="dark-button" (click)="ChangeMenuText()">Изменить регистр</button>
    </div>
  </div>

  <div class="navigation-strip-bottom"></div>