input {
    border: none;
    background: none;
}

input:focus {
    outline: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.footer {
    background-color: #4B565E;
    width: 100%;
    height: 390px;
    font-family: "Inter";
    padding-top: 30px;
}

.footer__container-content {
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
   
}

.footer__item_upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 19.36px;
    }
}

.upper-left-block {
    display: flex;
    flex-direction: column;
}

.footer__item-content-item-logo {
    margin-bottom: 20px;
}

.footer__item-contacts {
    display: flex;
    justify-content: space-between;
    
}

.footer__item-contacts-logo-number {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.footer__item-contacts-email {
    margin-left: 40px;
    margin-right: 40px;
}

.footer__item-contacts-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF99;
}
.footer__item-contacts-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 40px;
}

.upper-right-block__item-content-text {
    margin-bottom: 30px;
}

.upper-right-block__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    color: #FFFFFF;
}

.upper-right-block__item-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF99;
}

.upper-right-block__item-button-input {
    display: flex;
    align-items: center;
    border: 4px solid #F0BA4E;
    border-radius: 50px;
    box-sizing: border-box;
    height: 50px;
    width: 500px;
}

.upper-right-block__item-button-input-search[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.upper-right-block__item-button-send {
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    background-color: #F0BA4E;
    font-size: 15px;
    font-weight: 700;
    line-height: 12.1px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    width: 150px;
    height: 25px;
}

.footer__item_lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: fit-content;
}

.footer__item-nav-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    margin-right: 20px;
}

.footer__item-nav-social {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    width: 1320px;
}

.footer__item-nav-social-item {
    margin-right: 25px;
}

.footer__item_lower-right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item_lower-right-block-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: right;
    align-self: flex-end;
    color: #FFFFFF99;
}