<button (click)="isShowBackroundLarge=!isShowBackroundLarge" class="buttom-style">Скрыть/Показать картинку</button>
<div *ngIf="isShowBackroundLarge" class="large-background-block">
    <span class="large-background-block__item">Инструмент для вашего бизнеса</span>
</div>


<main class="container">
    <div class="item-cards">
        <div class="item-cards__advantages-cards">
            <div class="advantages-cards__pagination">
                <div class="advantages-cards__items">
                    <img src="/assets/img/basket.svg" alt="Product assortment logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Большой ассортимент</b>
                        <p>строительных материалов всегда в наличии</p>
                    </div>
                </div>
                <div class="advantages-cards__items">
                    <img src="/assets/img/fura.svg" alt="shipping  logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Доставка стройматериалов</b>
                        <p>в течении четырех часов или в любое удобное время</p>
                    </div>
                </div>
                <div class="advantages-cards__items">
                    <img src="/assets/img/like.svg" alt="Quality Control logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Многоуровневая система</b>
                        <p>управления качеством по стандарту ISO 9001</p>
                    </div>
                </div>
            </div>

            <div class="item-cards__advantages-button">
                <button class="item-cards__pagination-button active--button" *ngFor="let item of newPages">{{item}}
                </button>
            </div>
        </div>

        <div class="item-cards__grid">
            <div class="item-cards__gricd-left">
                <div class="grid-cards__title">
                    Строительный отделочный инструмент
                </div>
                <div class="grid-cards-action">
                    <span style="margin-right: 10px;">Перейти в каталог</span>
                    <a class="grid-cards-action-link">
                        <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                    </a>
                </div>
            </div>

            <div class="item-cards__grid-right">
                <div class="grid-cards grid-cards__first">
                    <div class="grid-cards__title" style="text-align: right;">Эмали</div>
                    <div class="grid-cards-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="grid-cards-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>

                <div class="grid-cards grid-cards__second">
                    <div class="grid-cards__title">Лакокрасочные материалы</div>
                    <div class="grid-cards-action" style="align-self: flex-start;">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="grid-cards-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>

                <div class="grid-cards grid-cards__third">
                    <div class="grid-cards__title">Пены, клеи и <br>герметики</div>
                    <div class="grid-cards-action" style="align-self: flex-start;">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="grid-cards-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>


                <div class="grid-cards grid-cards__four">
                    <div class="grid-cards__title">Розетки и выключателы</div>
                    <div class="grid-cards-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="grid-cards-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <section class="product-cards">
            <div class="product-cards__header">
                <h3 class="product-cards__title">Популярные товары</h3>
                <a href="#" class="product-cards__link">Посмотреть все товары</a>
            </div>
            <div class="product-cards__slider-container">
                <div class="product-cards__slides">
                    <button class="slider-container-control-button-left">
                        <img src="/assets/img/button-control.svg" alt="button-control">
                    </button>
                    <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="element">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="sales-position" src="/assets/img/sales-item.svg" alt="sales">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="sales-position" src="/assets/img/sales-item.svg" alt="sales">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="new-product__position" src="/assets/img/new-products.svg" alt="new product">
                                        <img class="sales-position" src="/assets/img/sales-item.svg" alt="sales">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="new-product__position" src="/assets/img/new-products.svg" alt="new product">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="slider-container-control-button-right">
                        <img src="/assets/img/button-control.svg" alt="button-control">
                    </button>
                </div>
            </div>
        </section>

        <div class="item-cards__reviews item-cards__reviews-background-right">
            <div class="item-cards__reviews-container">
                <h3 class="item-cards__reviews-title">Более 10 000 наименований</h3>
                <span class="item-cards__reviews-description">Инструмент для вашего бизнеса, разнообразных марок</span>
            </div>
            <div class="item-cards__reviews-button">
                <button class="item-cards__reviews-button-catalog">Перейти в каталог</button>
            </div>
        </div>

        <section class="product-cards">
            <div class="product-cards__header">
                <h3 class="product-cards__title">Новинки</h3>
                <a href="#" class="product-cards__link">Посмотреть все товары</a>
            </div>
            <div class="product-cards__slider-container">
                <div class="product-cards__slides">
                    <button class="slider-container-control-button-left">
                        <img src="/assets/img/button-control.svg" alt="button-control">
                    </button>
                    <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="new-product__position" src="/assets/img/new-products.svg" alt="new product">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="new-product__position" src="/assets/img/new-products.svg" alt="new product">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="new-product__position" src="/assets/img/new-products.svg" alt="new product">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="product-cards__slider popular-producs__item-slide">
                        <div class="product-cards__card">
                            <div class="product-cards__sales-item">
                                <div class="position__items">
                                    <div class="">
                                        <img class="logo-live-position" src="/assets/img/logo-live-black.svg" alt="logolives">
                                        <img class="new-product__position" src="/assets/img/new-products.svg" alt="new product">
                                    </div>
                                    <img class="Boasch-position" src="/assets/img/Bosch.png" alt="Boasch">
                                </div>
                                <span class="product-cards__title">Круг зачистной 125х6х22</span>
                                <span class="product-cards__sales-item-articulation">Артикул 00004</span>
                            </div>
                            <div class="product-cards__sales-item-price">
                                <div class="product-cards__unit-price">
                                    <span>Цена за штуку</span>
                                </div>
                                <div class="product-cards__price-container">
                                    <span class="product-cards__sales-item-price-old-item">52 руб</span>
                                    <span class="product-cards__sales-item-price-new-item">48 руб</span>
                                </div>
                            </div>
                            <div class="product-cards__counter">
                                <div class="product-cards__counter-container">
                                    <span class="product-cards__counter-title">Количество</span>
                                    <div class="button-quantity-products__quantity-cart-button">
                                        <button class="button-quantity-products__quantity-cart-button">-</button>
                                        <button class="button-quantity-products__quantity-cart-button">1</button>
                                        <button class="button-quantity-products__quantity-cart-button">+</button>
                                    </div>
                                </div>
                                <div class="product-cards__basket">
                                    <button class="product-cards__basket-button">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="slider-container-control-button-right">
                        <img src="/assets/img/button-control.svg" alt="button-control">
                    </button>
                </div>
            </div>
        </section>
    </div>
</main>