<div class="header">
    <div class="header-low header__header-low">
        <div class="header-low__left-block">
            <div class="header--margin">
                <img src="/assets/img/Frame.svg" alt="логотип компании">
            </div>
            <nav class="header-low__nav">
                <div class="header-low__nav-item">Главная</div>
                <div class="header-low__nav-item">О компании</div>
                <div class="header-low__nav-item">Каталог</div>
            </nav>
        </div>
        <div class="header-low__right-block">
            <div class="header-low__number header--margin">
                <img  class="header--margin" src="/assets/img/Phone.svg" alt="логотип телефона">
                +7 (965) 084-29-29
            </div>
            <div class="logo-live header--margin">
                <img src="/assets/img/logo-live.svg" alt="логотип logo-live">
            </div>
            <div class="header-low__basket">
                <button class="basket-button" type="submit">
                    <div class="basket-logo">
                        <img src="/assets/img/Mask-group.svg" alt="">
                    </div>
                    <span class="basket-button-title">Пусто</span>
                </button>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</div>