.header {
    font-family: 'Intern', Courier, monospace;
}

.header-upp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #4B565E;
}

.header__header-upp {
    padding: 0px 240px;
}

.header__left-block {
    display: flex;
    align-items: center;
}

.header__right-block {
    display: flex;
    align-items: center;
}

.header__logo-company {
    margin-right: 40px;
}

.header-upp__number {
    display: flex;
    align-items: center;
}

.header__nav-upp {
    display: flex;
    font-size: 16px;
    line-height: 19.94px;
}

.header__nav-low {
    display: flex;
    font-size: 14px;
    line-height: 16.94px;
}

.header__nav-item {
    margin-right: 20px;
}

.header-upp__basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #F0BA4E;
}

.header__header-low {
    padding: 0px 240px;
}

.header__logo-catlog {
    margin-right: 10px;
}

.header__search {
    width: 400px;
}

.map-logo {
    margin-right: 4px;
    margin-left: 36px;
}

.header-low__map {
    font-size: 14px;
    line-height: 14px;
}

.header--margin {
    margin-right: 24px;
}

.basket-button {
    display: flex;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    color: white;
    background: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
}

.basket-logo {
    display: flex;
    padding: 10px 20px 10px 10px;
}

.basket-button-title {
    display: flex;
    padding-block: 10px;
}
