.header {
    font-family: 'Inter', sans-serif;
    width: 100%;
    background: none;
    margin: 0 auto
}

.header-upp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1320px;
    color: white;
}

.header__item-first {
    max-width: 100%;;
    background-color: #4B565E;
    display: flex;
    justify-content: space-between;
}

.header__left-block {
    display: flex;
    align-items: center;
}

.header__right-block {
    display: flex;
    align-items: center;
}

.header__logo-company {
    margin-right: 40px;
}

.header-upp__number {
    display: flex;
    align-items: center;
}

.header__nav-upp {
    display: flex;
    font-size: 16px;
    line-height: 19.94px;
}

.header__nav-low {
    display: flex;
    flex-wrap: nowrap;
    white-space:nowrap;
    font-size: 14px;
    line-height: 16.94px;
}

.header__nav-item {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
}

.header-upp__basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    max-width: 1320px;
    background: none;
}

.header__item-second {
    width: 100%;
    background-color: #F0BA4E;
    display: flex;
    justify-content: space-around;
}

.header__logo-catlog {
    margin-right: 10px;
}

.header-search {
    border-bottom: 1px solid #3C3C3B;
}

.header__search-input {
    width: 400px;
    margin-left: 213px;
    border-inline: none;
    border-top: none;
    background: none;
    background-repeat: no-repeat;
    color: #4B565E;
    outline: none;
}

.search-icon {
    margin-left: -25px;
}

.map-logo {
    margin-right: 4px;
    margin-left: 36px;
}

.header-low__map {
    font-size: 14px;
    line-height: 14px;
}

.header--margin {
    margin-right: 24px;
}

.phone-number {
    text-decoration: none;
    color: white;
}

.basket-button {
    display: flex;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    color: white;
    background: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
}

.basket-logo {
    display: flex;
    padding: 10px 20px 10px 10px;
}

.basket-button-title {
    display: flex;
    padding-block: 10px;
}

.background-large-block__item {
    max-width: 100%;
}

.item-cards {
    width: 100%;
}

.item-cards__pagination {
    display: flex;
    
}

.item-cards__pagination__start {
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    font-family: Inter;
}

.item-cards__pagination-left__center {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    font-family: Inter;
}

.item-cards__pagination-left__end {
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    font-family: Inter;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;
    
    &-button {
        font-family: inter;
        border: none;
        background: none;
        color: #A1A0A0;
    }
}

.item-cards__pagination-button {
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.active-button {
    color: #F0BA4E;
    font-weight: 600;
}

.item-cards__grid {
    display: flex;
    justify-content: center;
    align-items: start;
}

.item-cards__grid-left {
    height: 585.96px;
    width: 100%;
    background-image: url("/assets/img/left-grid.png");
    background-repeat: no-repeat;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-position-y: bottom;
    background-position-x: left;
    margin-bottom: 500px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.item-cards__grid-left-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600px;
}

.item-cards__grid-left-action {
    align-self: end;
    display: flex;
    align-items: center;
}

.item-cards__grid-left-action-link {
    width: 40px;
    height: 40px;

}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 28px;
    margin-left: 28px;
}

.item-cards__grid-right-block {
    width: 100%;
    height: 279px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.item-cards__grid-right-block__first {
    background-image: url("/assets/img/balon.png");
    width: 279px;
    height: 279px;
}

.item-cards__grid-right-block-second {
    background-image: url("/assets/img/emal.png");
    width: 209px;
    height: 209px;
}

.item-cards__grid-right-block-third {
    background-image: url("/assets/img/pena.png");
    width: 245px;
    height: 245px;
}

.item-cards__grid-right-block-four {
    background-image: url("/assets/img/power-socket.png");
    width: 189px;
    height: 189px;
}

.content-container {
    background: none;
}
