<div class="header">
    <div class="header--full-width-gray">
        <div class="container">
            <div class="header__item-upper-nav-content">
                <div class="header-upp">
                    <div class="header__left-block">
                        <div class="header__logo-company">
                            <img src="/assets/img/logo-company.svg" alt="логотип компании">
                        </div>
                        <nav class="header__nav-upp">
                            <div class="header__nav-item">{{header_Upper_Item1}}</div>
                            <div class="header__nav-item">{{aboutCompany}}</div>
                            <div class="header__nav-item" *ngIf="isShowCatalog">{{header_Upper_Item3}}</div>
                            <button class="buttom-style" (click)="isShowCatalog = !isShowCatalog">Показать/Скрыть каталог</button>
                            <button class="buttom-style" (click)="ChangeMenuText()">Изменить регистр</button>
                        </nav>
                    </div>
                    <div class="header__right-block">
                        <div class="header-upp__number header--margin">
                            <img class="header--margin" src="/assets/img/Phone.svg" alt="логотип телефона">
                            <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
                        </div>
                        <div class="logo-live header--margin">
                            <img src="/assets/img/logo-live.svg" alt="логотип logo-live">
                        </div>
                        <div class="header-upp__basket">
                            <button class="basket-button" type="submit">
                                <img class="basket-logo" src="/assets/img/Mask-group.svg" alt="">
                                <span class="basket-button-title">Пусто</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header--full-width-yellow">
        <div class="container">
            <div class="header__item-lower-nav-content">
                <div class="header-low">
                    <div class="header__left-block">
                        <img class="header__logo-catlog" src="/assets/img/catalog-logo.svg" alt="">
                        <nav class="header__nav-low">
                            <div class="header__nav-item" *ngFor="let item of menuItems">{{item}}
                            </div>
                        </nav>
                    </div>
                    <div class="header__right-block">
                        <div class="header__search">
                            <input type="search" value="Поиск, например Круг зачисткой" class="header__search-input">
                            <img src="/assets/img/Search.svg" alt="поиск" class="search-icon">
                        </div>
                        <img class="map-logo" src="/assets/img/map.svg" alt="map logo">
                        <div class="header-low__map">Москва</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="buttom-style" (click)="isShowBackgroundLarge = !isShowBackgroundLarge">Скрыть/Показать картинку</button>
<div class="background-large-block" *ngIf="isShowBackgroundLarge">
    <span class="background-large-block__item">Инструмент для вашего бизнеса</span>
</div>


<div class="container">
    <div class="item-cards">
        <div class="item-cards__advantages-cards">
            <div class="advantages-cards__pagination">
                <div class="advantages-cards__items">
                    <img src="/assets/img/basket.svg" alt="Product assortment logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Большой ассортимент</b>
                        <p>строительных материалов всегда в наличии</p>
                    </div>
                </div>
                <div class="advantages-cards__items">
                    <img src="/assets/img/fura.svg" alt="shipping  logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Доставка стройматериалов</b>
                        <p>в течении четырех часов или в любое удобное время</p>
                    </div>
                </div>
                <div class="advantages-cards__items">
                    <img src="/assets/img/like.svg" alt="Quality Control logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Многоуровневая система</b>
                        <p>управления качеством по стандарту ISO 9001</p>
                    </div>
                </div>
            </div>

            <div class="item-cards__advantages-button">
                <button class="item-cards__pagination-button active--button" *ngFor="let item of newPages">{{item}}
                </button>
            </div>
        </div>

        <div class="item-cards__grid">
            <div class="item-cards__gricd-left">
                <div class="product-card__title">
                    Строительный отделочный инструмент
                </div>
                <div class="product-card-action">
                    <span style="margin-right: 10px;">Перейти в каталог</span>
                    <a class="product-card-action-link">
                        <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                    </a>
                </div>
            </div>

            <div class="item-cards__grid-right">
                <div class="product-card product-card__first">
                    <div class="product-card__title" style="text-align: right;">Эмали</div>
                    <div class="product-card-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>

                <div class="product-card product-card__second">
                    <div class="product-card__title">Лакокрасочные материалы</div>
                    <div class="product-card-action" style="align-self: flex-start;">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link"></a>
                    </div>
                </div>

                <div class="product-card product-card__third">
                    <div class="product-card__title">Пены, клеи и <br>герметики</div>
                    <div class="product-card-action" style="align-self: flex-start;">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>


                <div class="product-card product-card__four">
                    <div class="product-card__title">Розетки и выключателы</div>
                    <div class="product-card-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <section class="popular-products">
            <div class="popular-products__header">
                <h3 class="popular-products__title">Популярные товары</h3>
                <a href="#" class="popular-products__link">Посмотреть все товары</a>
            </div>
            <div></div>
            <div class="popular-products__slider-container">
                <div class="slider-container-control-button">
                    <button class="slider-container-control-button-left"></button>
                    <button class="slider-container-control-button-right"></button>
                </div>
                <div class="popular-products__slider popular-producs__item-background-left">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <img src="/assets/img/Bosch.png" alt="Boasch">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item">52 руб</span>
                                <span class="popular-products__sales-item-price-new-item">48 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-products__slider popular-producs__item-background-left">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <img src="/assets/img/Bosch.png" alt="Boasch">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item">52 руб</span>
                                <span class="popular-products__sales-item-price-new-item">48 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-products__slider popular-producs__item-background-right-last">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <img src="/assets/img/Bosch.png" alt="Boasch">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item">52 руб</span>
                                <span class="popular-products__sales-item-price-new-item">48 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-products__slider">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <img src="/assets/img/Bosch.png" alt="Boasch" >
                            <div class="/assets/img/Bosch.png"></div>
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item">52 руб</span>
                                <span class="popular-products__sales-item-price-new-item">48 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="item-cards__reviews item-cards__reviews-background-right">
            <div class="item-cards__reviews-container">
                <h3 class="item-cards__reviews-title">Более 10 000 наименований</h3>
                <span class="item-cards__reviews-description">Инструмент для вашего бизнеса, разнообразных марок</span>
            </div>
            <div class="item-cards__reviews-button">
                <button class="item-cards__reviews-button-catalog">Перейти в каталог</button>
            </div>
        </div>

        <section class="popular-products">
            <div class="popular-products__header">
                <h3 class="popular-products__title">Новинки</h3>
                <a href="#" class="popular-products__link">Посмотреть все товары</a>
            </div>
            <div></div>
            <div class="popular-products__slider-container">
                <div class="slider-container-control-button">
                    <button class="slider-container-control-button-left"></button>
                    <button class="slider-container-control-button-right"></button>
                </div>
                <div class="popular-products__slider popular-producs__item-background-right">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item price--quantity">52 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popular-products__slider popular-producs__item-background-right">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item price--quantity">52 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popular-products__slider popular-producs__item-background-right">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item price--quantity">52 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-products__slider popular-producs__item-background-right">
                    <div class="popular-products__card">
                        <div class="popular-products__sales-item">
                            <span class="popular-products__sales-item-title">Круг зачистной 125х6х22</span>
                            <span class="popular-products__sales-item-articule">Артикул 00004</span>
                        </div>
                        <div class="popular-products__sales-item-price">
                            <div class="popular-products__unit-price">
                                <span>Цена за штуку</span>
                            </div>
                            <div class="popular-products__price-container">
                                <span class="popular-products__sales-item-price-old-item price--quantity">52 руб</span>
                            </div>
                        </div>
                        <div class="popular-products__counter">
                            <div class="popular-products__counter-container">
                                
                                <span class="popular-products__counter-title">Количество</span>
                                <div class="popular-products__counter-button">
                                    <button class="popular-products__counter-button">-</button>
                                    <button class="popular-products__counter-button">1</button>
                                    <button class="popular-products__counter-button">+</button>
                                </div>
                            </div>
                            <div class="popular-products__basket">
                                <button class="popular-products__basket-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__container-content">
            <div class="footer__item_upper">

                <div class="upper-left-block">
                    <div class="footer__item-content-item-logo">
                        <img src="/assets/img/logo-company.svg" alt="логотип компании">
                    </div>
                    <div class="footer__item-contacts">
                        <div class="footer__item-contacts-phone">
                            <div class="footer__item-contacts-logo-number">
                                <img class="footer__item-contacts-logo-number" src="/assets/img/call-calling.svg"
                                    alt="логотип телефона">
                                <span class="footer__item-contacts-title">Контактный телефон</span>
                            </div>
                            <div class="footer__item-contacts-info">
                                <a href="tel:+78123090934">+ 7 (812) 309-09-34</a>
                                <a href="tel:+ 79650842909"><br>+ 7 (965) 084-29-09</a>
                            </div>
                        </div>

                        <div class="footer__item-contacts-email">
                            <div class="footer__item-contacts-logo-number">
                                <img src="/assets/img/sms.svg" alt="логотип email">
                                <span class="footer__item-contacts-title">Электронная почта</span>
                            </div>
                            <div class="footer__item-contacts-info">
                                <a href="mailto:info@stroymaterials.ru">tustin78&#64;mail.ru</a>
                                <a href="mailto:info@stroymaterials.ru"><br>info&#64;tustin.ru</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="upper-right-block">
                    <div class="upper-right-block__item">
                        <div class="upper-right-block__item-content-text">
                            <h3 class="upper-right-block__item-title">Остались вопросы?</h3>
                            <span class="upper-right-block__item-description">Узнавайте первым о скидках, предложениях и
                                событиях еженедельно в
                                <br>своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
                        </div>
                        <div class="upper-right-block__item-button">
                            <button class="upper-right-block__item-button-input">
                                <input class="upper-right-block__item-button-input-search" type="search"
                                    placeholder="Введите свою почту">
                                <button class="upper-right-block__item-button-send">Отправить</button>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__item_lower">
                <div class="footer__item_lower-left-block">
                    <nav class="footer__item-nav">
                        <div class="footer__item-nav-item">Главная</div>
                        <div class="footer__item-nav-item">О компании</div>
                        <div class="footer__item-nav-item">Каталог</div>
                    </nav>

                    <div class="footer__item-nav-social">
                        <div class="footer__item-nav-social-container">
                            <img class="footer__item-nav-social-item" src="/assets/img/facebook.svg"
                                alt="логотип социальных сетей">
                            <img class="footer__item-nav-social-item" src="/assets/img/youtube.svg"
                                alt="логотип социальных сетей">
                            <img class="footer__item-nav-social-item" src="/assets/img/whatsapp.svg"
                                alt="логотип социальных сетей">
                        </div>

                        <div class="footer__item_lower-right-block">
                            <span class="footer__item_lower-right-block-text">© 2021-2022, EDE</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

<router-outlet></router-outlet>