.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

$primary-color: #F0BA4E;
$secondary-color: #4B565E;
$text-color: #3C3C3B;

$desktop-large: 1400px;
$desktop: 1200px;
$tablet: 768px;
$mobile: 576px;

// Миксин для медиа-запросов
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) { @content; }
  }
  @if $breakpoint == tablet {
    @media (max-width: $tablet) { @content; }
  }
  @if $breakpoint == desktop {
    @media (max-width: $desktop) { @content; }
  }
}

.header {
    width: 100%;
    background: none;
    margin: 0 auto;
}

.header__item-first {
    background-color: #4B565E;
    width: 100%;
}

.header__item-first-content {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}


.header-upp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    
    @include respond-to(tablet) {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
      }
}

.header__left-block,
.header__right-block  {
    display: flex;
    align-items: center;
}

.header__logo-company {
    margin-right: 40px;
}

.header-upp__number {
    display: flex;
    align-items: center;
}

.header__nav-upp {
    display: flex;
    font-size: 16px;
    line-height: 19.94px;
    
    @include respond-to(mobile) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
}

.header__nav-low {
    display: flex;
    white-space:nowrap;
    font-size: 14px;
    line-height: 16.94px;
}

.header__nav-item {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
}

.header-upp__basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__item-second {
    background-color: #F0BA4E;
    width: 100%;
}

.header__item-second-content {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

.header-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}


.header__logo-catlog {
    margin-right: 10px;
}

.header-search {
    border-bottom: 1px solid #3C3C3B;
}

.header__search-input {
    width: 400px;
    border-inline: none;
    border-top: none;
    background: none;
    background-repeat: no-repeat;
    color: #4B565E;
    outline: none;
    
    @include respond-to(tablet) {
        width: 100%;
        max-width: 300px;
      }
}

.search-icon {
    margin-left: -25px;
}

.map-logo {
    margin-right: 4px;
    margin-left: 36px;
}

.header-low__map {
    font-size: 14px;
    line-height: 14px;
}

.header--margin {
    margin-right: 24px;
}

.phone-number {
    text-decoration: none;
    color: white;
}

.basket-button {
    display: flex;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    color: white;
    background: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.basket-logo {
    display: flex;
    padding: 10px 20px 10px 10px;
}

.basket-button-title {
    display: flex;
    padding-block: 10px;
}

.background-large-block__item {
    width: 100%;
}

.advantages-cards__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 31px 0px;
}

.cards__advantages__start {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 48px;
}

.advantages-cards__items {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.cards__advantages-description {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: #4B565E;
    margin-left: 10px;
}

.advantages-cards__items--title-black {
    color: #3C3C3B;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;
    
    &-button {
        font-family: 'Inter';
        border: none;
        background: none;
        color: #A1A0A0;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
    }
}

.item-cards__advantages-button {
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

.active--button {
    color: #F0BA4E;
    font-weight: 600;
}

.item-cards__grid {
    display: flex;
    height: 428px;
    margin-top: 20px;
    box-sizing: border-box;
    @include respond-to(tablet) {
        flex-direction: column;
      }
      margin-bottom: 100px;
}

.item-cards__gricd-left {
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-image: url("/assets/img/left-grid.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

.product-card__title {
    font-size: 28px;
    font-family: "Inter";
    font-weight: 600px;
    color: #3C3C3B;
}

.product-card-action {
    align-self: end;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #4B565E;
}

.product-card-action-link {
    width: 40px;
    height: 40px;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 28px;
    margin-left: 28px;
    justify-content: center;
    
    @include respond-to(tablet) {
        margin-left: 0;
        justify-content: center;
      }
      
      @include respond-to(mobile) {
        gap: 15px;
      }
}

.item-cards__grid-right-block {
    width: 421px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-cards__grid-right-block {
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    
    img {
        max-width: 100%;
        height: auto;
      }
      
      @include respond-to(mobile) {
        width: 100%;
        max-width: 300px;
      }

}

.product-card__first {
    width: 400px;
    height: 209px;
    background-image: url("/assets/img/balon.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;

}

.product-card__second {
    width: 400px;
    height: 209px;
    background-image: url("/assets/img/emal.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

.product-card__third {
    width: 400px;
    height: 209px;
    background-image: url("/assets/img/pena.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

.product-card__four {
    width: 400px;
    height: 209px;
    position: relative;
    background-image: url("/assets/img/power-socket.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

// .popular-products__card {
    
// }

.popular-products__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
}


.popular-products__slider {
    display: flex;
    align-items: center;
    width: 272px;
    height: 550px;
    padding: 7px;
    box-sizing: border-box;
}

.popular-products__slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-products__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
}

.popular-products__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #F0BA4E;
    text-decoration: none;
}

.popular-producs__item-background-left {
    background-image: url("/assets/img/sales-item.svg"),
                      url("/assets/img/logo-live-black.svg"),
                      url("/assets/img/Bosch.png");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position-x: left,right,center;
    background-position-y: top,5px,top;
    padding: 20px;
}

.popular-producs__item-background-right-last {
    background-image: url("/assets/img/new-products.svg"),
                      url("/assets/img/sales-item.svg"),
                      url("/assets/img/logo-live-black.svg"),
                      url("/assets/img/Bosch.png");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
    background-position-x: left, left, right, center;
    background-position-y: top, 50px, 5px, top;
    padding: 20px;
}

.popular-producs__item-background-right {
    background-image: url("/assets/img/new-products.svg"),
                      url("/assets/img/logo-live-black.svg"),
                      url("/assets/img/Bosch.png");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position-x: left,right,center;
    background-position-y: top,5px,top;
    padding: 20px;
}



.popular-products__sales-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.popular-products__sales-item-title {
    font-size: 20px;
    line-height: 24.2px;
    white-space: nowrap;
    color: #3C3C3B;
    margin-bottom: 10px;
}

.popular-products__sales-item-articule {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #3C3C3B;
}

.popular-products__sales-item-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.popular-products__unit-price {
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
    color: #A1A0A0;
}

.popular-products__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.popular-products__sales-item-price-old-item {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    text-decoration-line: line-through;
    color: #3C3C3B;
}

.popular-products__sales-item-price-new-item {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
    color: #3C3C3B;
}

.popular-products__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-products__counter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #3C3C3B;
    margin-top: 10px;
}

.popular-products__counter-title {
    margin-bottom: 8px;
}

.popular-products__counter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #3C3C3B;
    border: none;
    background: none;
}

.popular-products__basket {
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: flex-end;
}

.popular-products__basket-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #3C3C3B;
    border: 2px solid #F0BA4E;
    background: none;
    border-radius: 50px;
    padding: 10px 20px;
}

.slider-container-control-button {
    margin-block-end: 20px;
}

.slider-container-control-button-left,
.slider-container-control-button-right {
    position: relative;
    inset-block-start: -49px;
    inset-inline-start: 40px;
    transform: translateY(-50%);
    border: none;
    inline-size: 30px;
    block-size: 42px;
    background-color: transparent;
    background-image: url("/assets/img/button-control.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.slider-container-control-button-right {
    transform: rotate(180deg);
    inset-inline-start: 1290px;
    transform-origin: center;
    inset-block-start: -70px;
}
