
<div class="header">
    <div class="header__item-first">
        <div class="container">
            <div class="header__item-first-content">
                <div class="header-upp">
                    <div class="header__left-block">
                        <div class="header__logo-company">
                            <img src="/assets/img/logo-company.svg" alt="логотип компании">
                        </div>
                        <nav class="header__nav-upp">
                            <div class="header__nav-item">Главная</div>
                            <div class="header__nav-item">О компании</div>
                            <div class="header__nav-item">Каталог</div>
                        </nav>
                    </div>
                    <div class="header__right-block">
                        <div class="header-upp__number header--margin">
                            <img class="header--margin" src="/assets/img/Phone.svg" alt="логотип телефона">
                            <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
                        </div>
                        <div class="logo-live header--margin">
                            <img src="/assets/img/logo-live.svg" alt="логотип logo-live">
                        </div>
                        <div class="header-upp__basket">
                            <button class="basket-button" type="submit">
                                <img class="basket-logo" src="/assets/img/Mask-group.svg" alt="">
                                <span class="basket-button-title">Пусто</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="header__item-second">
        <div class="container">
            <div class="header__item-second-content">
                <div class="header-low">
                    <div class="header__left-block">
                        <img class="header__logo-catlog" src="/assets/img/catalog-logo.svg" alt="">
                        <nav class="header__nav-low">
                            <div class="header__nav-item">Каталог</div>
                            <div class="header__nav-item">Стройматериалы</div>
                            <div class="header__nav-item">Инструменты</div>
                            <div class="header__nav-item">Электрика</div>
                            <div class="header__nav-item">Интерьер и одежда</div>
                        </nav>
                    </div>
                    <div class="header__right-block">
                        <div class="header__search">
                            <input type="search" value="Поиск, например Круг зачисткой" class="header__search-input">
                            <img src="/assets/img/Search.svg" alt="поиск" class="search-icon">
                        </div>
                        <img class="map-logo" src="/assets/img/map.svg" alt="map logo">
                        <div class="header-low__map">Москва</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-large-block">
    <img class="background-large-block__item" src="/assets/img/Rectangle.png" alt="background-large">
</div>

<div class="container">
    <div class="item-cards">
        <div class="item-cards__advantages-cards">
            <div class="advantages-cards__pagination">
                <div class="advantages-cards__items">
                    <img src="/assets/img/basket.svg" alt="Product assortment logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Большой ассортимент</b>
                        <p>строительных материалов всегда в наличии</p>
                    </div>
                </div>
                <div class="advantages-cards__items">
                    <img src="/assets/img/fura.svg" alt="shipping  logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Доставка стройматериалов</b>
                        <p>в течении четырех часов или в любое удобное время</p>
                    </div>
                </div>
                <div class="advantages-cards__items">
                    <img src="/assets/img/like.svg" alt="Quality Control logo">
                    <div class="cards__advantages-description">
                        <b class="advantages-cards__items--title-black">Многоуровневая система</b>
                        <p>управления качеством по стандарту ISO 9001</p>
                    </div>
                </div>
            </div>
        
            <div class="item-cards__advantages-button">
                <button class="item-cards__pagination-button active--button">1</button>
                <button class="item-cards__pagination-button">2</button>
                <button class="item-cards__pagination-button">3</button>
                <button class="item-cards__pagination-button">4</button>
                <button class="item-cards__pagination-button">5</button>
            </div>
        </div>
   
        <div class="item-cards__grid">
            <div class="item-cards__gricd-left">
                <div class="product-card__title">
                    Строительный отделочный инструмент
                </div>
                <img src="/assets/img/left-grid.png" alt="Инструмент">
                <div class="product-card-action">
                    <span style="margin-right: 10px;">Перейти в каталог</span>
                    <a class="product-card-action-link">
                        <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                    </a>
                </div>
            </div>

            <div class="item-cards__grid-right">
                <div class="product-card">
                    <div class="product-card__title">Эмали</div>
                    <img src="/assets/img/balon.png" alt="Эмали">
                    <div class="product-card-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>
        
                <div class="product-card">
                    <div class="product-card__title">Лакокрасочные материалы</div>
                    <img src="/assets/img/emal.png" alt="Лакокрасочные материалы">
                    <div class="product-card-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="product-card__title">Пены, клеи и герметики</div>
                    <img src="/assets/img/pena.png" alt="Пены, клеи и герметики">
                    <div class="product-card-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>
                
            
                <div class="product-card">
                    <div class="product-card__title">Розетки и выключателы</div>
                    <img src="/assets/img/power-socket.png" alt="Розетки и выключателы">
                    <div class="product-card-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="product-card-action-link">
                            <img src="/assets/img/arrow-right.svg" alt="кнопка перехода в каталог">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>